{{- if ne .chezmoi.os "windows" }}
# yazi
{{ $yaziVersion := "26.1.4" -}}
[".local/bin/yazi"]
    type = "archive-file"
    url = "https://github.com/sxyazi/yazi/releases/download/v{{ $yaziVersion }}/yazi-x86_64-unknown-{{ .chezmoi.os }}-gnu.zip"
    stripComponents = 1
    path = "yazi"
[".local/bin/ya"]
    type = "archive-file"
    url = "https://github.com/sxyazi/yazi/releases/download/v{{ $yaziVersion }}/yazi-x86_64-unknown-{{ .chezmoi.os }}-gnu.zip"
    stripComponents = 1
    path = "ya"
[".local/share/zsh/completions/_yazi"]
    type = "archive-file"
    url = "https://github.com/sxyazi/yazi/releases/download/v{{ $yaziVersion }}/yazi-x86_64-unknown-{{ .chezmoi.os }}-gnu.zip"
    stripComponents = 1
    path = "completions/_yazi"
[".local/share/zsh/completions/_ya"]
    type = "archive-file"
    url = "https://github.com/sxyazi/yazi/releases/download/v{{ $yaziVersion }}/yazi-x86_64-unknown-{{ .chezmoi.os }}-gnu.zip"
    stripComponents = 1
    path = "completions/_ya"

# lesspipe.sh
[".local/bin/lesspipe.sh"]
    type = "file"
    url = "https://raw.githubusercontent.com/wofr06/lesspipe/refs/heads/lesspipe/lesspipe.sh"
    refreshPeriod = "168h"
    executable = true
[".local/bin/lesscomplete"]
    type = "file"
    url = "https://raw.githubusercontent.com/wofr06/lesspipe/refs/heads/lesspipe/lesscomplete"
    refreshPeriod = "168h"
    executable = true
[".local/share/zsh/completions/_less"]
    type = "file"
    url = "https://raw.githubusercontent.com/wofr06/lesspipe/refs/heads/lesspipe/zsh_completion"
    refreshPeriod = "168h"
{{- end }}

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# wsl2-ssh-agent
[".local/bin/wsl2-ssh-agent"]
    type = "file"
    url = "https://github.com/mame/wsl2-ssh-agent/releases/latest/download/wsl2-ssh-agent"
    refreshPeriod = "168h"
    executable = true
{{   end }}
{{ end }}
