[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
[include]
	path = ~/.gitconfig.local
[merge]
	ff = false
[pull]
	rebase = true
[push]
	default = simple
[user]
	name = HORINOUCHI Masato
	email = thermes@confei.to
