# subdir
Include conf.d/*.conf

# All Hosts
Host *

AddKeysToAgent yes
ConnectionAttempts 3
IdentitiesOnly yes

ServerAliveCountMax 3
ServerAliveInterval 30
TCPKeepAlive no

ExitOnForwardFailure yes
ForwardAgent no
HashKnownHosts yes
UpdateHostKeys yes
VisualHostKey yes
