"*":
  editor:
    invisibles: {}
    fontFamily: "Ricty"
    lineHeight: 1
    softWrap: true
    showIndentGuide: true
  core:
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  "exception-reporting":
    userId: "dba85874-f646-0e69-2adf-69c9762918b8"
  welcome:
    showOnStartup: false
  "git-diff":
    showIconsInEditorGutter: true
  "atom-fuzzy-grep":
    detectGitProjectAndUseGitGrep: false
    grepCommandString: "/usr/local/bin/ag -i --nocolor --nogroup --column"
  minimap: {}
