"*":
  "atom-fuzzy-grep":
    detectGitProjectAndUseGitGrep: false
  core:
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Ricty"
    fontSize: 15
    invisibles: {}
    lineHeight: 1
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "fe833149-6963-6819-adbc-2b6b19c64306"
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-selected":
    lightTheme: true
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  welcome:
    showOnStartup: false
