# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio = [1, 3, 4]
sort_by = "natural"
linemode = "size"
show_hidden = true

[preview]
image_quality = 50

[tasks]
image_alloc = 0
image_bound = [0, 0]

[[input.prepend_keymap]]
on = "<Esc>"
run = "close"
desc = "Cancel input"

[[plugin.prepend_fetchers]]
id = "git"
name = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
name = "*/"
run = "git"
